# Composites with the copyrighted reference photos stay local. Raw nendo PNG renders stay local for size only: since
# the livery is 臼福本店's and is not included here: renders of it are never committed.
*-ref-*.png
*nendo*.png
